---
import Navigation from "@layouts/Navigation.astro";
---

<header class="flex flex-col w-full bg-base-300">
  <Navigation>
    <div class="px-6 max-w-screen-lg w-full" slot="breadcrumbs">
      <div class="text-sm breadcrumbs">
        <slot name="breadcrumbs-items">
          <ul>
            <li>
              <a href="/">/</a>
            </li>
          </ul>
        </slot>
      </div>
      <div aria-label="scroll progress" id="scroll-progress"></div>
    </div>
  </Navigation>
</header>

<style>
  #scroll-progress {
    display: block;
    height: 2px;
    position: absolute;
    width: 0;
    left: 0;
    background-color: hsl(var(--in));
    transition: width 200ms linear;
  }
</style>

<script>
  const progressBar = document.getElementById("scroll-progress") as HTMLElement;
  const onScroll = () => {
    const scroll = document.body.scrollTop || document.documentElement.scrollTop;
    const height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
    const percentage = height ? (scroll / height) * 100 : 100;
    progressBar.style.width = percentage + "%";
  };

  window.addEventListener("scroll", onScroll);
  window.addEventListener("load", onScroll);
</script>

<style is:global>
  :root {
    --header-height: calc(var(--navbar-height) + var(--breadcrumbs-height));
  }

  header {
    z-index: 1;
    height: var(--header-height);
  }
</style>
