---
import Button from "@components/ui/Button.astro";
import Hamburger from "@components/icons/Hamburger.astro";
import NavigationItems from "./NavigationItems.astro";
import LightModeSwitch from "./LightModeSwitch.astro";
---

<!-- TODO: fix focus not showing on menu -->
<div class="navbar-end">
  <LightModeSwitch />
  
  <div class="dropdown dropdown-end lg:hidden">
    <Button tabindex="0" class="btn-ghost">
      <Hamburger />
    </Button>
    <ul
      tabindex="0"
      class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
    >
      <NavigationItems />
    </ul>
  </div>

  <div class="menu menu-horizontal hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <NavigationItems />
    </ul>
  </div>
</div>
