---
import Bookmark from "@components/icons/Bookmark.astro";
import Date from "@components/icons/Date.astro";
import Time from "@components/icons/Time.astro";
import Button from "@components/ui/Button.astro";
import { formatDate } from "@scripts/date";

interface Props {
  timestamp: number;
  duration: number;
  tag: string;
}

const { timestamp, duration, tag } = Astro.props;
---

<section>
  <span class="inline-flex items-center gap-2 ml-4">
    <Date class="w-4 h-4" />
    <span>{formatDate(timestamp)}</span>
  </span>

  <span class="px-2">·</span>

  <span class="inline-flex items-center gap-2">
    <Time class="w-4 h-4" />
    {duration} min read
  </span>

  <span class="pl-4 invisible sm:visible actions-divider"></span>

  <div
    class="tooltip tooltip-bottom w-fit block sm:inline-block"
    data-tip="Work in Progress"
  >
    <Button class="btn-ghost gap-2">
      <Bookmark class="w-4 h-4" />
      Bookmark
    </Button>
  </div>
</section>

<style>
  .actions-divider {
    border-right: 1px solid currentColor;
  }

  :global(h2:first-of-type) {
    margin-top: 0.9em;
  }
</style>
