.code-tabs {
  .tabs {
    flex-wrap: nowrap;
    overflow-x: auto;

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }

  .tab {
    color: hsl(var(--bc));
    --tab-radius: 0.25em;
    border-color: hsl(var(--bc));
  }

  .tab-active {
    background-color: hsl(var(--b2));
    border-color: transparent;
  }

  [data-tab-name] {
    display: none;
  }

  [data-tab-active="true"] {
    display: block;
  }
}
