@import "./fonts.scss";
@import "./scrollbars.scss";

html {
  scroll-behavior: smooth;
}

// inherit headings color - glow on section click
h1, h2, h3, h4, h5, h6 {
  & a {
    color: inherit !important; 
  }
}