@font-face {
  font-family: "Fira Code";
  src: url("/fonts/FiraCode/FiraCode-Regular.woff2") format("woff2"),
    url("/fonts/FiraCode/FiraCode-Regular.woff") format("woff"),
    url("/fonts/FiraCode/FiraCode-Regular.ttf") format("truetype");
}
