// from https://github.com/PrismJS/prism-themes/blob/master/themes/prism-one-light.css
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection {
  background: #3ea1e250;
  color: inherit;
}

code[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection {
  background: #3ea1e250;
  color: inherit;
}

.token.comment,
.token.prolog,
.token.cdata {
	color: hsl(230, 4%, 64%);
}

.token.doctype,
.token.punctuation,
.token.entity {
	color: hsl(230, 8%, 24%);
}

.token.attr-name,
.token.class-name,
.token.boolean,
.token.constant,
.token.number,
.token.atrule {
	color: hsl(35, 99%, 36%);
}

.token.keyword {
	color: hsl(301, 63%, 40%);
}

.token.property,
.token.tag,
.token.symbol,
.token.deleted,
.token.important {
	color: hsl(5, 74%, 59%);
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.regex,
.token.attr-value,
.token.attr-value > .token.punctuation {
	color: hsl(119, 34%, 47%);
}

.token.variable,
.token.operator,
.token.function {
	color: hsl(221, 87%, 60%);
}

[data-theme="dark"] {
	// from https://github.com/PrismJS/prism-themes/blob/master/themes/prism-laserwave.css
  code[class*="language-"]::-moz-selection,
  code[class*="language-"] ::-moz-selection,
  pre[class*="language-"]::-moz-selection,
  pre[class*="language-"] ::-moz-selection {
    background: #eb64b927;
    color: inherit;
  }

  code[class*="language-"]::selection,
  code[class*="language-"] ::selection,
  pre[class*="language-"]::selection,
  pre[class*="language-"] ::selection {
    background: #eb64b927;
    color: inherit;
  }

  .token.comment,
  .token.prolog,
  .token.cdata {
    color: #91889b;
  }

  .token.punctuation {
    color: #7b6995;
  }

  .token.builtin,
  .token.constant,
  .token.boolean {
    color: #ffe261;
  }

  .token.number {
    color: #b381c5;
  }

  .token.important,
  .token.atrule,
  .token.property,
  .token.keyword {
    color: #40b4c4;
  }

  .token.doctype,
  .token.operator,
  .token.inserted,
  .token.tag,
  .token.class-name,
  .token.symbol {
    color: #74dfc4;
  }

  .token.attr-name,
  .token.function,
  .token.deleted,
  .token.selector {
    color: #eb64b9;
  }

  .token.attr-value,
  .token.regex,
  .token.char,
  .token.string {
    color: #b4dce7;
  }

  .token.entity,
  .token.url,
  .token.variable {
    color: #ffffff;
  }

}


/* The following rules are pretty similar across themes, but feel free to adjust them */
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.namespace {
	opacity: 0.7;
}