---
import Layout from "@layouts/Layout.astro";
import BlogHeader from "@layouts/blog/Header.astro";
import BlogCard from "@components/BlogCard.astro";

const posts = await Astro.glob("./blog/**/*.mdx");
---

<Layout title="Blog" description="Blog home page">
  <BlogHeader>
    <ul slot="breadcrumbs-items">
      <li>
        <a href="/">/</a>
      </li>
      <li>
        <a href="/blog">blog</a>
      </li>
    </ul>
  </BlogHeader>
  <main
    class="max-w-screen-xl w-full px-4 py-8 flex flex-wrap gap-8 justify-center"
  >
    {posts.map((post) => <BlogCard post={post.frontmatter} />)}
  </main>
</Layout>
