---
import pluralize from "pluralize";
import Layout from "@layouts/Layout.astro";
import BlogHeader from "@layouts/blog/Header.astro";
import BlogCard from "@components/BlogCard.astro";

const posts = await Astro.glob("./blog/**/*.mdx");
const sortedPosts = posts
  .map((post) => post.frontmatter)
  .sort((a, b) => b.timestamp - a.timestamp);

const urlForPost = (post) =>
  `/blog/${pluralize(post.tag).toLowerCase()}/${post.slug}/`;
---

<Layout
  title="Blog"
  description="Grab a cup of coffee and start exploring. We hope you find something useful and entertaining along the way!"
  keywords={["Dev", "Blog", "Posts", "Articles"]}
>
  <BlogHeader>
    <ul slot="breadcrumbs-items">
      <li>
        <a href="/">/</a>
      </li>
      <li>
        <a href="/blog/">blog</a>
      </li>
    </ul>
  </BlogHeader>
  <h1 class="mb-8 text-3xl font-extrabold glow text-yellow-400 font-mono">
    /* Posts */
  </h1>

  <main
    class="max-w-screen-xl w-full px-4 py-8 grid grid-cols-[repeat(auto-fill,minmax(24rem,1fr))] gap-8 justify-items-center"
  >
    {
      sortedPosts.map((post) => (
        <a class="max-w-full" href={urlForPost(post)}>
          <BlogCard post={post} />
        </a>
      ))
    }
  </main>
</Layout>

<style>
  .glow {
    text-shadow: 0 0 8px;
  }
</style>
