---
import Layout from "@layouts/Layout.astro";
import Header from "@layouts/Header.astro";
---

<Layout title="Welcome to Astro.">
  <Header>
    <div style="background-image: url(/media/synthcity.png)" class="flex-1">
    </div>
  </Header>
</Layout>
