---
import DarkTheme from "@components/icons/DarkTheme.astro";
import LightTheme from "@components/icons/LightTheme.astro";
---

<label class="swap swap-rotate btn btn-ghost">
  <input id="themeToggle" type="checkbox" class="w-5 h-5" checked />
  <DarkTheme class="swap-on" />
  <LightTheme class="swap-off" />
</label>

<script>
  import { applyTheme, getCurrentTheme } from "@scripts/theme";

  const lightThemeSwitch = document.getElementById(
    "themeToggle"
  ) as HTMLInputElement;

  const onThemeChange = (newTheme: "light" | "night") => {
    if (lightThemeSwitch) lightThemeSwitch.checked = newTheme === "night";
    applyTheme(newTheme);
  };

  const handleToggleClick = () => {
    const theme = getCurrentTheme(),
      nextTheme = theme === "night" ? "light" : "night";
    onThemeChange(nextTheme);
  };

  onThemeChange(getCurrentTheme());
  lightThemeSwitch.addEventListener("click", handleToggleClick);
</script>
