---
import DarkTheme from "@components/icons/DarkTheme.astro";
import LightTheme from "@components/icons/LightTheme.astro";
---

<label class="swap swap-rotate btn btn-ghost">
  <input id="themeToggle" type="checkbox" class="w-5 h-5" checked />
  <DarkTheme class="swap-on" />
  <LightTheme class="swap-off" />
</label>

<script>
  import { applyTheme, getCurrentTheme } from "@scripts/theme";

  const lightThemeSwitch = document.getElementById(
    "themeToggle"
  ) as HTMLInputElement;

  const handleToggleClick = () => {
    const theme = document.documentElement.dataset.theme,
      nextTheme = theme === "dark" ? "light" : "dark";

    applyTheme(nextTheme);
    lightThemeSwitch.checked = getCurrentTheme() === "dark";
  };

  lightThemeSwitch.checked = getCurrentTheme() === "dark";
  lightThemeSwitch.addEventListener("click", handleToggleClick);
</script>
