---
import Button from "@components/ui/Button.astro";
---

<>
  <li>
    <Button class="btn-ghost" as="link" href="/blog">Blog</Button>
  </li>
  <li>
    <Button class="btn-ghost" as="link" href="/about">About</Button>
  </li>
  <!-- <li>
    <Button class="btn-ghost" as="link" href="/projects">Projects</Button>
  </li> -->
</>
