---
import "@styles/common.scss";
import { SEO } from "astro-seo";

export interface Props {
  title: string;
  description: string;
  seoProps?: object;
}

const { title, description, seoProps } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/media/avatar.png" />
    <meta name="generator" content={Astro.generator} />
    <SEO canonical="https://noctisdark.dev/" title={title} description={description} {...seoProps} />
    <link rel="sitemap" href="/sitemap-index.xml">
    <title>{title}</title>
    <script is:inline>
      /* rogue script to set the theme at the speed of light - bypass bundling that is executed after rendering*/
      if (localStorage.getItem("theme"))
        document.documentElement.dataset.theme = localStorage.getItem("theme");
    </script>
  </head>
  <body class="flex flex-col min-h-screen items-center">
    <slot />
  </body>
</html>
