---
import "@styles/common.scss";
import { SEO } from "astro-seo";

export interface Props {
  title: string;
  description: string;
  keywords?: string[];
  seoProps?: object;
}

const { title, description, keywords = [], seoProps } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script blocking="render" is:inline>
      /* rogue script to set the theme at the speed of light - bypass bundling that is executed after rendering*/
      const savedTheme = localStorage.getItem("theme");
      if (savedTheme)
        document.documentElement.setAttribute("data-theme", savedTheme);
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/media/avatar.png" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      canonical="https://noctisdark.dev/"
      title={title}
      description={description}
      {...seoProps}
    />
    {
      keywords.length ? (
        <meta name="keywords" content={keywords.join(",")} />
      ) : (
        void 0
      )
    }
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen items-center">
    <slot />
  </body>
</html>
